// Variables

// Gray and Brand Colors for use across theme

$theme-primary:    black;
$theme-success:    #5cc6d0;
$deep-blue:        #3e4095;


$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%);
$gray-dark: lighten($gray-base, 20%);
$gray: lighten($gray-base, 33.5%);
$gray-light: lighten($gray-base, 46.7%);
$gray-lighter: lighten($gray-base, 93.5%);
