p{
  font-size: 18px;
  text-align: justify !important;
  text-justify: inter-word !important;
}

h1{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.50rem !important;
  margin-bottom: 12px !important;
}

.carousel-item{
  img{
    max-height: 500px;
    max-width: 100%;
  }
}

header.masthead img {
  display: block;
  margin: auto;
}

.f-18{
  font-size: 18px;
}

.topic-img{
  border: 1px solid black;
  border-radius: 100%;
  margin: 0 auto;
  height: 140px;
  width: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section{
  padding-top: 60px;
  padding-bottom: 60px;

  &.black{
    color: white;
    background: black;
  }

  &.deep-blue{
    color: white;
    background: $deep-blue;
  }
}

.p-100{
  padding-top: 100px;
  padding-bottom: 100px;
}

.map{
  height: 400px;
}

@media(min-width:992px) {
  section{
    padding-top: 110px;
    padding-bottom: 100px;
  }
}

header.masthead {
  padding-bottom: 0px !important;
}

@media (min-width: 768px){
  header.masthead {
    padding-top: 135px;
  }
}
