.topic-img{
  border-radius: 100%;
  margin: 0 auto;
  height: 140px;
  width: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section{
  padding-top: 70px;
  padding-bottom: 60px;

  &.black{
    color: white;
    background: black;
  }

  &.deep-blue{
    color: white;
    background: $deep-blue;
  }
}

.p-100{
  padding-top: 100px;
  padding-bottom: 100px;
}

.map{
  height: 400px;
}

@media(min-width:992px) {
  section{
    padding-top: 130px;
    padding-bottom: 120px;
  }
}
