section{
  padding-top: 150px;
  padding-bottom: 150px;

  &.black{
    color: white;
    background: black;
  }

  &.deep-blue{
    color: white;
    background: $deep-blue;
  }
}

.p-100{
  padding-top: 100px;
  padding-bottom: 100px;
}

.map{
  height: 400px;
}
